<div class="bg-secondary">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-light">SIGNUP</button>
    <button type="button" class="btn btn-outline-light">LOGGIN</button>
  </div>
<div class="text-white text-center">
  <h2>Benard Atilio Photography
  </h2>
  <div class="text-success margin-bottom: .5rem">
    <hr class="border border-primary border-2 opacity-50">
  </div>
  <div class="card text-center bg-secondary border-0">
    <div class="card-body">
      <p class="card-text mx-auto text-white mb-5" style="max-width: 600px;">Welcome to our photography studio! We are thrilled that you are considering booking a photoshoot with us. Our team of experienced photographers is dedicated to capturing your unique personality and creating beautiful, timeless memories that you'll treasure for years to come.</p>

      <p class="card-text mx-auto text-white mb-5" style="max-width: 600px;"> Whether you're looking for a professional headshot, family portraits, or creative and fun shots with friends, we have the skills and expertise to make your vision a reality. We strive to provide a comfortable and relaxed environment that will allow you to feel confident and showcase your best self. We can't wait to work with you and capture your special moments!</p>
        
      <p class="card-text mx-auto text-white mb-5" style="max-width: 600px;">1. Your book will be valid only if you will send at least a 50% advance/downpayment
       2. Be advised to make the booking 3 days before the date of your choosing.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>