<div class="bg-secondary opacity-50">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn text-white bg-transparent border-0 mt-3 mb-3">SIGNUP</button>
    <button type="button" class="btn text-white bg-transparent border-0 mt-3 mb-3">LOGGIN</button>
  </div>
<div class="text-white text-center">
  <h2>Benard Atilio Photography
  </h2>
  <div class="text-success mb-3" style="max-width: 700px; margin: 0 auto;">
    <hr class="border border-white border-2 opacity-100">
  </div>
  <div class="card text-center bg-secondary border-0">
    <div class="card-body">
      <p class="card-text mx-auto text-white mb-3 text-start" style="max-width: 700px; font-size:larger">Welcome to our photography studio! We are thrilled that you are considering booking a photoshoot with us. Our team of experienced photographers is dedicated to capturing your unique personality and creating beautiful, timeless memories that you'll treasure for years to come.</p>

      <p class="card-text mx-auto text-white mb-3 text-start" style="max-width: 700px; font-size:larger"> Whether you're looking for a professional headshot, family portraits, or creative and fun shots with friends, we have the skills and expertise to make your vision a reality. We strive to provide a comfortable and relaxed environment that will allow you to feel confident and showcase your best self. We can't wait to work with you and capture your special moments!</p>
        
      <p class="card-text mx-auto text-white mb-5 text-start" style="max-width: 700px; font-size:larger">
        1. Your book will be valid only if you will send at least a 50% advance/downpayment<br>
        2. Be advised to make the booking 3 days before the date of your choosing.</p>
      <h4 class="text-white"><i class="bi bi-calendar3 me-2 mb-5"></i>Select Category</h4>

        <div class="card custom-card shadow mt-5">
          <div class="card-content">
           <p class="card-paragraph">
            Baby In Picture
           </p>
              <button class="btn">
              SELECT
              </button>
            </div>
          </div>

          <div class="card custom-card shadow">
            <div class="card-content">
             <p class="card-paragraph">
              Brand - Promotion Photography
             </p>
                <button class="btn">
                  SELECT
                </button>
              </div>
            </div>

            <div class="card custom-card shadow">
              <div class="card-content">
               <p class="card-paragraph">
                Classic Photoshoot
               </p>
                  <button class="btn">
                    SELECT
                  </button>
                </div>
              </div>

              <div class="card custom-card shadow">
                <div class="card-content">
                 <p class="card-paragraph">
                  Events
                 </p>
                    <button class="btn">
                      SELECT
                    </button>
                  </div>
                </div>

                <div class="card custom-card shadow">
                  <div class="card-content">
                   <p class="card-paragraph">
                    Maternity
                   </p>
                      <button class="btn">
                        SELECT
                      </button>
                    </div>
                  </div>

                  <div class="card custom-card shadow">
                    <div class="card-content">
                     <p class="card-paragraph">
                      Video
                     </p>
                        <button class="btn">
                          SELECT
                        </button>
                      </div>
                    </div>

                    <div class="card custom-card shadow">
                      <div class="card-content">
                       <p class="card-paragraph">
                        Wedding
                       </p>
                          <button class="btn">
                            SELECT
                          </button>
                        </div>
                      </div>

        <div class="d-grid gap-2 d-md-flex justify-content">
       <button type="button" class="btn text-white bg-transparent border-0 mt-3 mb-3">Show All Appointments</button>
      </div>
      <h5 class="text-white">All Right Received Webbuwasl 2024</h5>
      </div>
    </div>
  </div>
</div>